@model ActualFileStorage.PL.Models.FileInfoViewModel

@if (Model == null)
{
    return;
}

    
<div id="infoDiv" class="container file-info">
    <h4>Информация о файле</h4>
    <hr />
    <div id="fileIdDiv" class="d-none">@Model.Id</div>
    <div class="row">
        <div class="col-5 font-weight-bold">@Html.DisplayNameFor(model => model.FullName)</div>
        <div class="col my-auto-height">@Html.DisplayFor(model => model.FullName)</div>
    </div>
    <div class="row">
        <div class="col-5 font-weight-bold">@Html.DisplayNameFor(model => model.Size)</div>
        <div class="col my-auto-height">@Html.DisplayFor(model => model.Size)</div>
    </div>
    <div class="row">
        <div class="col-5 font-weight-bold">@Html.DisplayNameFor(model => model.CreationTime)</div>
        <div class="col my-auto-height">@Html.DisplayFor(model => model.CreationTime)</div>
    </div>
    <div class="row">
        <div class="col-5 font-weight-bold">@Html.DisplayNameFor(model => model.Visibility)</div>
        @if (Model.ReadOnlyLink)
        {
            <div class="col my-auto-height">@Html.DisplayFor(model => model.Visibility)</div>
        } else
        {
            Type fa = typeof(ActualFileStorage.DAL.Models.FileAccess);
            <div class="col my-auto-height">@Html.DropDownListFor(model => model.Visibility, Enum.GetNames(fa).Select(i => new SelectListItem() { Text = i, Value = Convert.ToInt32(Enum.Parse(fa, i, true)).ToString() }), new { @class = "custom-select" })</div>
        }
    </div>
    <div class="row">
        <div class="col-5 font-weight-bold my-auto-height">@Html.DisplayNameFor(model => model.ShortLink)</div>

        @if (string.IsNullOrEmpty(Model.ShortLink))
        {
            if (!Model.ReadOnlyLink)
            {
                <div class="col-12 col-md-4 col-lg-6 font-weight-bold my-auto-height"><button id="linkBtn" class="my-auto-height btn-block btn-sm btn-dark">Создать</button></div>
            } else
            {
                <div class="col my-auto-height">Ссылка отсутствует</div>
            }
        } else
        {
            <div class="col my-auto-height"><a href="/s/@Html.DisplayFor(model => model.ShortLink)">@Html.DisplayFor(model => model.ShortLink)</a></div>
        }
    </div>
    <div class="row">
        <div class="col">
            <button id="downloadBtn" class="btn-block btn-sm btn-dark mt-2">
                Скачать файл
            </button>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        @if(!Model.ReadOnlyLink)
        {
            <text>
        //$("#linkBtn").on("click", e => {
        $(".file-info").on("click", "#linkBtn", e => {
            addLinkInput($(e.target));
            //$(e.target).css("background-color", "pink");
            //console.log("wwww");

            });
        //$("#Visibility").on("change" , e => {
        $(".file-info").on("change", "#Visibility", e => {
            sendDataOnAccessChange($(e.target));
            //$(e.target).css("background-color", "orange");
            //console.log("w2www");
            });
            </text>
        }

        $("#downloadBtn").on("click", e => {
         let id = $(e.target).closest(".container").children("#fileIdDiv").html();
            $.ajax({
             method: "POST",
                data: { "fileId": id },
                url: "/Profile/DownloadFile",
                success: d => {
                    window.location.href = d.url;
                }
            });
     });
    });
</script>
