@model ActualFileStorage.PL.Models.ObjectsViewModel

@{
    string pId = string.Empty;
    if (Model == null)
    {
        pId = "null";
    } else
    {
        pId = Model.ParentFolderId.ToString();
    }
}
<script>
    $(document).ready(function () {
        $.post({
        url: '@Url.Action("GetFolderInfo", "Profile")',
            data: { "id":@Model.ParentFolderId},
            success: d => {
                let sb = $("#sidebar");
                if (sb.length !== 0) {
                    let infoDiv = sb.children("div");
                    if (infoDiv.length === 0)
                        sb.append(d);
                    else
                        infoDiv.html(d);
                }
                else {
                    $(".container").children(".row").prepend('<div id="sidebar" class="col-4 col-lg-3 d-flex bg-light flex-column tx-size-16"></div>');
                    $("#sidebar").append(d);
                }
            }
        });
    //console.log('@Html.Raw(@Json.Encode(Model.ParentFolderInfo))');
    //document.getElementById("removeFile")?.disabled = true;
    //document.getElementById("removeFolder")?.disabled = true;
    @if(Model != null)
        {
            @:hist = @Html.Raw(Json.Encode(Model.History));
        }
        else
        {
            @:hist = undefined;
        }
        constructCrumbs(hist);
        $(".breadcrumb-item").on("click", e => {
         clearInfo();
         loadFolder($(e.target).attr("data-id"));
        });
    });
</script>
<div>
    @if (Model != null)
    {
        foreach (var item in Model.Folders)
        {
            <div class="row">
                <div class="col">
                    <span class="c-folder" value="@item.Id">
                        <img src="~/Content/folder-icon.png" width="12" />
                        @Html.DisplayFor(modelItem => item.Name)
                    </span>
                </div>
            </div>
        }
        foreach (var item in Model.Files)
        {
            <div class="row">
                <div class="col"><span class="c-file" value="@item.Id">@Html.DisplayFor(modelItem => item.FullName)</span></div>
            </div>
        }
    }
</div>
