<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - File Storage</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mainscript")
    @*@Scripts.Render("~/bundles/polymer");*@
    @*<link rel="import" href="~/Scripts/polymer.html" />
        <script type="module">
          import '@@polymer/paper-spinner/paper-spinner.js';
        </script>*@
    @RenderSection("scripts", required: false)
    @AjaxHelper.DatalessRequestOnClick("regLink", Url.Action("RegForm", "Register"))
    @AjaxHelper.DatalessRequestOnClick("authLink", Url.Action("AuthForm", "Auth"))
    @*@AjaxHelper.CreateScript("regLink", null, Url.Action("RegForm", "Register"))*@
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("File Storage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.ActionLink("Admin panel", "", "Adminpanel", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Your storage", "", "Profile", null, new { @class = "nav-link" })</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item nav-link">@User.Identity.Name</li>
                        <li class="nav-item">@Html.ActionLink("Logout", "Logout", "Auth", null, new { @class = "nav-link" })</li>
                    } else
                    {
                        <li class="nav-item">@Html.ActionLink("Register", "RegForm", "Register", null, new { id = "regLink", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Login", "AuthForm", "Auth", null, new { id = "authLink", @class = "nav-link"  })</li>
                    }

                </ul>

            </div>

        </div>
    </nav>
    <div class="container body-content">
        <div class="layout-render">
            @RenderBody()
        </div>
        @*<paper-spinner>

        </paper-spinner>*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - File Storage</p>
        </footer>
    </div>


</body>
</html>
